<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="favicon.png" rel="icon">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>
        {% block title %}
            Beauty salon & spa
        {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLibre+Baskerville:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/furniture-icon/style.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/lightGallery-master/dist/css/lightgallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
    <style>
      .custom-heading{
        font-size: 15px;
        font-weight: bold;
      }
    </style>
  </head>
  <!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
  <!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
  <!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
  <body>
    <div class="header--sidebar"></div>
    <!--  Header-->
    <header class="header" data-sticky="true">
      <div class="header__top">
        <div class="ps-container">
          <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                  <p>460 West 34th Street, 15th floor, New York  -  Hotline: 804-377-3580 - 804-399-3580</p><i class="furniture-market"></i>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                  
                  {% if request.user.is_authenticated %}
                  <div class="header__actions"><a href="{% url 'Userlogout' %}">Logout</a>
                  {% else %}
                  <div class="header__actions"><a href="{% url 'user_SignUp' %}">Login & Regiser</a>
                  {% endif %}
                    <div class="btn-group ps-dropdown">
                      {{request.user.first_name}}
                      <!-- <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD<i class="fa fa-angle-down"></i></a> -->
                      <!-- <ul class="dropdown-menu">
                        <li><a href="#"><img src="images/flag/usa.svg" alt=""> USD</a></li>
                        <li><a href="#"><img src="images/flag/singapore.svg" alt=""> SGD</a></li>
                        <li><a href="#"><img src="images/flag/japan.svg" alt=""> JPN</a></li>
                      </ul> -->
                    </div>
                    <div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language<i class="fa fa-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">English <img src="images/flag/usa.svg" alt=""></a></li>
                        <li><a href="#">Japanese <img src="images/flag/japan.svg" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <nav class="navigation">
        <div class="ps-container"><a class="ps-logo" href="index-2.html"><img src="images/logo.png" alt=""></a>
              <ul class="main-menu menu">
                <li class="current-menu-item menu-item-has-children"><a href="{% url 'home' %}">Home</a>
                      <!-- <ul class="sub-menu">
                        <li><a href="inde.html">Homepage 1</a></li>
                        <li><a href="homepage-2.html">Homppage 2</a></li>
                      </ul> -->
                </li>
                <li class="menu-item-has-children has-mega-menu"><a href="{% url 'shop' %}">Services</a>
                  <div class="mega-menu">
                    <div class="mega-wrap">
                      <div class="mega-column">
                        <ul class="mega-item mega-features">
                            {% for ctg in Categories %}
                                <li><a href="{% url 'shop' %}" class="custom-heading">{{ctg.title}}</a></li>
                            {% endfor %}
                        </ul>
                      </div>
                      {% for ctg in Categories %}
                      <div class="mega-column">
                        <h4 class="custom-heading">{{ctg.title}}</h4>
                        <ul class="mega-item">
                          
                            {% for service in ctg.services.all %}
                                <li><a href="{% url 'shop' %}">{{ service.title }}</a></li>
                            {% endfor %}
                                <!-- <li><a href="product-list.html">service</a></li> -->
                        </ul>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </li>
                <li><a href="#">About Us</a></li>
                <li><a href="contact-us.html">Contact</a></li>
              </ul>
          <div class="menu-toggle"><span></span></div>
          <!-- <form class="ps-form--search" action="http://warethemes.com/html/flourish/do_action" method="post"><i class="furniture-search"></i>
            <input class="form-control" type="text" placeholder="Find product">
            <button>Search</button>
          </form> -->
          <!-- <div style="display: inline-block; color: black;">
            Mudassar Amin
          </div> -->
        </div>
      </nav>
    </header>

        {% block content %}
        
        {% endblock %}

    <footer class="ps-footer site-footer">
        <div class="ps-footer__content">
          <div class="ps-container">
            <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="ps-site-info site-info"><a class="ps-logo" href="index-2.html"><img src="images/logo.png" alt=""></a>
                      <p>Furniture is a global shop destination for 20-somethings. We sell cutting-edge fashion and offer a wide variety of fashion-related content, making Furniture Store the hub of a thriving fashion community.</p>
                      <div class="ps-site-info__contact">
                        <h4>Contact Info</h4>
                        <p>460 West 34th Street, 15th floor, New York</p>
                        <p>(+84 ) 7534 9773, (+84 ) 874 548</p>
                      </div>
                      <ul class="ps-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                            <div class="widget widget_footer widget_worktime">
                              <h2 class="widget-title">Working Hour<span></span></h2>
                              <p>Monday - Friday <br> 08:00 am - 08:30 pm</p><p> ==== </p>
                              <p>Satuday - Sunday <br> 10:00 am - 4:30 pm</p>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                            <div class="ps-widget ps-widget--footer widget widget_footer">
                              <h2 class="widget-title">Our Brand<span></span></h2>
                              <ul class="ps-list--line">
                                <li><a href="#">DKNY</a></li>
                                <li><a href="#">Gucci</a></li>
                                <li><a href="#">Banana & Dolce</a></li>
                                <li><a href="#">Hermer</a></li>
                                <li><a href="#">Chanel</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                            <div class="ps-widget ps-widget--footer widget widget_footer">
                              <h2 class="widget-title">Your Account<span></span></h2>
                              <ul class="ps-list--line">
                                <li><a href="#">Your account</a></li>
                                <li><a href="#">Newsletter</a></li>
                                <li><a href="#">Information</a></li>
                                <li><a href="#">Payment menthod</a></li>
                                <li><a href="#">Your wishlist</a></li>
                              </ul>
                            </div>
                          </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="ps-footer__copyright">
          <div class="ps-container">
            <div class="row">
                  <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 ">
                    <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                    <div class="ps-footer__payment-methods"><a href="#"><img src="images/payment-method/paypal.png" alt=""></a><a href="#"><img src="images/payment-method/visa.png" alt=""></a><a href="#"><img src="images/payment-method/master-card.png" alt=""></a></div>
                  </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="ps-loading"><div class="loader ">
  <div class="loader__item"></div>
  <div class="loader__item"></div>
  <div class="loader__item"></div>
  <div class="loader__item"></div>
  <div class="loader__item"></div>
  </div>
      </div>
      <script src="{% static 'plugins/jquery.min.js' %}"></script>
      <script src="{% static 'plugins/lightGallery-master/dist/js/lightgallery-all.min.js' %}"></script>
      <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'plugins/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>
      <script src="{% static 'plugins/imagesloaded.pkgd.js' %}"></script>
      <script src="{% static 'plugins/masonry.pkgd.min.js' %}"></script>
      <script src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'plugins/slick/slick/slick.min.js' %}"></script>
      <script src="{% static 'plugins/jquery.matchHeight-min.js' %}"></script>
      <script src="{% static 'plugins/elevatezoom/jquery.elevatezoom.js' %}"></script>
      <script src="{% static 'plugins/gmap3.min.js' %}"></script>
      <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
      <!-- Custom scripts-->
      <script src="{% static 'js/main.js' %}"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsUcTjt43mTheN9ruCsQVgBE-wgN6_AfY&amp;region=GB"></script>
    </body>
  
  </html>