    
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}

    <div class="ps-hero bg--cover" data-background="images/hero/bread-2.jpg">
      <div class="ps-container">
        <h3>Shop Page</h3>
        <div class="ps-breadcrumb">
          <ol class="breadcrumb">
            <li><a href="index-2.html">Home</a></li>
            <li class="active">Shop Page</li>
          </ol>
        </div>
      </div>
    </div>
    <main class="ps-main">
      <div class="ps-container">
        <div class="ps-product--detail">
          <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 ">
                  <div class="ps-product__thumbnail">

                    <div class="ps-product__image">
                      {% for image in images %}
                        <div class="item"><a href="images/product/detail/large-1.jpg"><img src="{{image.img.url}}" alt=""></a></div>
                      {% endfor %}
                      <!-- <div class="item"><a href="images/product/detail/large-2.jpg"><img src="{% static 'images/product/detail/large-2.jpg' %}" alt=""></a></div>
                      <div class="item"><a href="images/product/detail/large-3.jpg"><img src="{% static 'images/product/detail/large-3.jpg' %}" alt=""></a></div>
                      <div class="item"><a href="images/product/detail/large-4.jpg"><img src="{% static 'images/product/detail/large-4.jpg' %}" alt=""></a></div>
                      <div class="item"><a href="images/product/detail/large-5.jpg"><img src="{% static 'images/product/detail/large-5.jpg' %}" alt=""></a></div> -->
                    </div>

                    <div class="ps-product__preview">
                      <div class="ps-product__variants">
                        {% for image in images %}
                          <div class="item"><img src="{{image.img.url}}" alt=""></div>
                        {% endfor %}
                        <!-- <div class="item"><img src="{% static 'images/product/detail/variant-2.jpg' %}" alt=""></div>
                        <div class="item"><img src="{% static 'images/product/detail/variant-3.jpg' %}" alt=""></div>
                        <div class="item"><img src="{% static 'images/product/detail/variant-4.jpg' %}" alt=""></div>
                        <div class="item"><img src="{% static 'images/product/detail/variant-5.jpg' %}" alt=""></div> -->
                      </div>
                      <div class="ps-video"><a class="popup-youtube ps-product__video" href="https://www.youtube.com/watch?v=meBbDqAXago"><img src="{% static 'images/product/detail/variant-5.jpg' %}" alt=""><i class="fa fa-play"></i></a></div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                  <div class="ps-product__info">
                    <div class="ps-product__rating">
                      <select class="ps-rating">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                      </select><a href="#">(Read all 8 reviews)</a>
                    </div>
                    <h1>{{Service.title}}</h1>
                    <p class="ps-product__category"><a href="#">{{Service.service_ctg.title}}</a></p>
                    <!-- <h3 class="ps-product__price"><del><span>£</span> 330</del> <span>£</span> 115</h3> -->
                    <h3 class="ps-product__price"> <span>$</span>{{Service.price}}</h3>
                    <div class="ps-product__short-desc">
                      <p>{{Service.discription}}</p>
                    </div>
                    <div class="ps-product__block ps-product__style">
                      <!-- <h4>CHOOSE YOUR COLOR</h4>
                          <div class="ps-radio ps-radio--color ps-radio--inline color-1">
                            <input class="form-control" type="radio" id="color-1" name="color">
                            <label for="color-1"></label>
                          </div> -->
                          <!-- <div class="ps-radio ps-radio--color ps-radio--inline color-2">
                            <input class="form-control" type="radio" id="color-2" name="color">
                            <label for="color-2"></label>
                          </div> -->
                          <!-- <div class="ps-radio ps-radio--color ps-radio--inline color-3">
                            <input class="form-control" type="radio" id="color-3" name="color">
                            <label for="color-3"></label>
                          </div> -->
                          <!-- <div class="ps-radio ps-radio--color ps-radio--inline color-4">
                            <input class="form-control" type="radio" id="color-4" name="color">
                            <label for="color-4"></label>
                          </div> -->
                    </div>
                    <!-- <div class="ps-product__block ps-product__size">
                      <h4>CHOOSE SIZE & QUANTITY</h4>
                      <select class="ps-select selectpicker" title="Select Size">
                        <option value="0">1</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                        <option value="4">5</option>
                        <option value="5">6</option>
                      </select>
                      <div class="form-group ps-number">
                        <input class="form-control" type="text" value="1"><span class="up"></span><span class="down"></span>
                      </div>
                    </div> -->
                    <div class="ps-product__shopping"><a class="ps-btn" href="{% url 'CheckOut' Service.id %}">Order now</a>
                      <div class="ps-product__actions"><a class="mr-10" href="whishlist.html"><i class="furniture-heart"></i></a><a href="compare.html" title="Compare"><i class="furniture-reload"></i></a></div>
                    </div>
                    <div class="ps-product__sharing">
                      <p>Share this:<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a></p>
                    </div>
                  </div>
                </div>
          </div>
          <div class="ps-product__content">
            <ul class="tab-list" role="tablist">
              <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Overview</a></li>
              <li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">Review</a></li>
              <li><a href="#tab_03" aria-controls="tab_03" role="tab" data-toggle="tab">PRODUCT TAGs</a></li>
              <li><a href="#tab_04" aria-controls="tab_04" role="tab" data-toggle="tab">ADDITIONAL</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab_01">
              <p>Caramels tootsie roll carrot cake sugar plum. Sweet roll jelly bear claw liquorice. Gingerbread lollipop dragée cake. Pie topping jelly-o. Fruitcake dragée candy canes tootsie roll. Pastry jelly-o cupcake. Bonbon brownie soufflé muffin.</p>
              <p>Sweet roll soufflé oat cake apple pie croissant. Pie gummi bears jujubes cake lemon drops gummi bears croissant macaroon pie. Fruitcake tootsie roll chocolate cake Carrot cake cake bear claw jujubes topping cake apple pie. Jujubes gummi bears soufflé candy canes topping gummi bears cake soufflé cake. Cotton candy soufflé sugar plum pastry sweet roll..</p>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab_02">
              <p>1 review for <strong>Shoes Air Jordan</strong></p>
              <div class="ps-review">
                <div class="ps-review__thumbnail"><img src="{% static 'images/user/1.jpg' %}" alt=""></div>
                <div class="ps-review__content">
                  <header>
                    <select class="ps-rating">
                      <option value="1">1</option>
                      <option value="1">2</option>
                      <option value="1">3</option>
                      <option value="1">4</option>
                      <option value="5">5</option>
                    </select>
                    <p>By<a href="#"> Alena Studio</a> - November 25, 2017</p>
                  </header>
                  <p>Soufflé danish gummi bears tart. Pie wafer icing. Gummies jelly beans powder. Chocolate bar pudding macaroon candy canes chocolate apple pie chocolate cake. Sweet caramels sesame snaps halvah bear claw wafer. Sweet roll soufflé muffin topping muffin brownie. Tart bear claw cake tiramisu chocolate bar gummies dragée lemon drops brownie.</p>
                </div>
              </div>
              <form class="ps-form--product-review" action="http://warethemes.com/html/flourish/do_action" method="post">
                <h4>ADD YOUR REVIEW</h4>
                <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                        <div class="form-group">
                          <label>Name:<sup>*</sup></label>
                          <input class="form-control" type="text" placeholder="">
                        </div>
                        <div class="form-group">
                          <label>Email:<sup>*</sup></label>
                          <input class="form-control" type="email" placeholder="">
                        </div>
                        <div class="form-group">
                          <label>Your rating</label>
                          <select class="ps-rating">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                        <div class="form-group">
                          <label>Your Review:</label>
                          <textarea class="form-control" rows="6"></textarea>
                        </div>
                        <div class="form-group">
                          <button class="ps-btn">Submit Reviews</button>
                        </div>
                      </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab_03">
              <p>Add your tag <span> *</span></p>
              <form class="ps-form--create-tags" action="http://warethemes.com/html/flourish/_action" method="post">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="">
                  <button class="ps-btn">Add Tags</button>
                </div>
              </form>
              <p>Use spaces to separate tags. Use single quotes ( * ) for phrases.</p>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab_04">
              <form class="ps-form--addition" action="http://warethemes.com/html/flourish/do_action" method="post">
                <div class="form-group">
                  <textarea class="form-control" rows="6" placeholder="Enter your addition here..."></textarea>
                </div>
                <div class="form-group">
                  <button class="ps-btn">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="ps-section ps-home-promotions">
      <div class="ps-container">
        <div class="ps-section__header text-center">
          <p>Here are key products that bring fashionistas to Furniture Store.</p>
          <h3 class="ps-section__title">YOU MIGHT ALSO LIKE</h3><span class="ps-section__line"></span>
        </div>
        <div class="ps-section__content">
          <div class="ps-slider--center owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="off">
            <div class="ps-product">
              <div class="ps-product__thumbnail">
                <div class="ps-badge"><span>New</span></div>
                <div class="ps-badge ps-badge--sale"><span>-35%</span></div><a class="ps-product__favorite" href="#"><i class="furniture-heart"></i></a><img src="{% static 'images/product/Item-1.jpg' %}" alt=""><a class="ps-product__overlay" href="product-detail.html"></a>
              </div>
              <div class="ps-product__content">
                    <select class="ps-rating">
                      <option value="1">1</option>
                      <option value="1">2</option>
                      <option value="1">3</option>
                      <option value="1">4</option>
                      <option value="2">5</option>
                    </select><a class="ps-product__title" href="product-detail-2.html">VEDBO Version 2018</a>
                <div class="ps-product__categories"><a href="product-listing.html">Armchair</a></div>
                <p class="ps-product__price">
                  <del>£220</del>£120
                </p>
              </div>
            </div>
            <div class="ps-product">
              <div class="ps-product__thumbnail"><a class="ps-product__favorite" href="#"><i class="furniture-heart"></i></a><img src="{% static 'images/product/Item-2.jpg' %}" alt=""><a class="ps-product__overlay" href="product-detail.html"></a>
              </div>
              <div class="ps-product__content">
                    <select class="ps-rating">
                      <option value="1">1</option>
                      <option value="1">2</option>
                      <option value="1">3</option>
                      <option value="1">4</option>
                      <option value="2">5</option>
                    </select><a class="ps-product__title" href="product-detail-2.html">VEDBO Version 2018</a>
                <div class="ps-product__categories"><a href="product-listing.html">Armchair</a></div>
                <p class="ps-product__price">
                  <del>£220</del>£120
                </p>
              </div>
            </div>
            <div class="ps-product">
              <div class="ps-product__thumbnail">
                <div class="ps-badge ps-badge--sale"><span>-35%</span></div><a class="ps-product__favorite" href="#"><i class="furniture-heart"></i></a><img src="{% static 'images/product/Item-3.jpg' %}" alt=""><a class="ps-product__overlay" href="product-detail.html"></a>
              </div>
              <div class="ps-product__content">
                    <select class="ps-rating">
                      <option value="1">1</option>
                      <option value="1">2</option>
                      <option value="1">3</option>
                      <option value="1">4</option>
                      <option value="2">5</option>
                    </select><a class="ps-product__title" href="product-detail-2.html">VEDBO Version 2018</a>
                <div class="ps-product__categories"><a href="product-listing.html">Armchair</a></div>
                <p class="ps-product__price">
                  <del>£220</del>£120
                </p>
              </div>
            </div>
            <div class="ps-product">
              <div class="ps-product__thumbnail">
                <div class="ps-badge"><span>New</span></div>
                <div class="ps-badge ps-badge--sale"><span>-35%</span></div><a class="ps-product__favorite" href="#"><i class="furniture-heart"></i></a><img src="{% static 'images/product/Item-4.jpg' %}" alt=""><a class="ps-product__overlay" href="product-detail.html"></a>
              </div>
              <div class="ps-product__content">
                    <select class="ps-rating">
                      <option value="1">1</option>
                      <option value="1">2</option>
                      <option value="1">3</option>
                      <option value="1">4</option>
                      <option value="2">5</option>
                    </select><a class="ps-product__title" href="product-detail-2.html">VEDBO Version 2018</a>
                <div class="ps-product__categories"><a href="product-listing.html">Armchair</a></div>
                <p class="ps-product__price">
                  <del>£220</del>£120
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ps-partners">
      <div class="ps-container">
        <div class="ps-slider--partners owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="50" data-owl-nav="false" data-owl-dots="false" data-owl-item="7" data-owl-item-xs="3" data-owl-item-sm="5" data-owl-item-md="6" data-owl-item-lg="7" data-owl-duration="1000" data-owl-mousedrag="on"><img src="{% static 'images/partner/1.png' %}" alt=""><img src="{% static 'images/partner/2.png' %}" alt=""><img src="{% static 'images/partner/3.png' %}" alt=""><img src="{% static 'images/partner/4.png' %}" alt=""><img src="{% static 'images/partner/5.png' %}" alt=""><img src="{% static 'images/partner/6.png' %}" alt=""><img src="{% static 'images/partner/7.png' %}" alt=""></div>
      </div>
    </div>
    
    {% endblock %}