    
    
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}

    <div class="ps-hero bg--cover" data-background="{% static 'images/hero/bread-1.jpg' %}">
      <div class="ps-container">
        <h3>Shop Page</h3>
        <div class="ps-breadcrumb">
          <ol class="breadcrumb">
            <li><a href="index-2.html">Home</a></li>
            <li class="active">Shop Page</li>
          </ol>
        </div>
      </div>
    </div>
    <main class="ps-main ps-sidebar-layout">
      <div class="ps-content">
        <!-- <div class="ps-collection mb-50"><a class="ps-collection__overlay" href="#"></a><img src="{% static 'images/collection/product.jpg' %}" alt=""></div> -->
        <!-- <div class="ps-products-sort">
          <p>Show 1-12 of 35 result</p>
              <select class="ps-select" title="Default Sorting">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
        </div> -->
        
        <!-- 5 items per column-->
        <div class="ps-row">
          {% for service in Services %}
          <div class="ps-column">
            <div class="ps-product">
              <div class="ps-product__thumbnail">
              {% if service.tag %}
                <div class="ps-badge"><span>{{service.tag}}</span></div>
              {% endif %}
              <a class="ps-product__favorite" href="#"><i class="furniture-heart"></i></a><img src="{{service.img.url}}" alt=""><a class="ps-product__overlay" href="product-detail.html"></a>
                <div class="ps-product__content full">
                  <div class="ps-product__variants">
                    {% for image in service.service_image.all %}
                    <div class="item"><img src="{{image.img.url}}" alt=""></div>
                    {% endfor %}
                  </div>
                      <select class="ps-rating">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                      </select>
                      <a class="ps-product__title" href="product-detail-2.html">{{service.title}}</a>
                  <div class="ps-product__categories"><a href="product-listing.html">{{service.service_ctg.title}}</a></div>
                  <p class="ps-product__price">
                      <!-- <del>$220</del>£120 -->
                          ${{service.price}}
                  </p><a class="ps-btn ps-btn--sm ps-modal-open" href="#modal-confirm">Add to cart</a>
                  <p class="ps-product__feature"><i class="furniture-delivery-truck-2"></i>Free Shipping in 24 hours</p>
                </div>
              </div>
              <div class="ps-product__content">
                    <select class="ps-rating">
                      <option value="1">1</option>
                      <option value="1">2</option>
                      <option value="1">3</option>
                      <option value="1">4</option>
                      <option value="2">5</option>
                    </select><a class="ps-product__title" href="product-detail-2.html">{{service.title}}</a>
                <div class="ps-product__categories"><a href="product-listing.html">{{service.service_ctg.title}}</a></div>
                <p class="ps-product__price">
                  <!-- <del>£220</del>£120 -->
                  ${{service.price}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="ps-pagination">
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      <aside class="ps-sidebar">
        <aside class="widget widget_sidebar widget_category">
          <h3 class="widget-title">Category</h3>
          <ul class="ps-list--checked">
            <li 
            {% if not ctg_id %}
            class="current"
            {% endif %}
            ><a href="product-listing.html">All</a></li>
            {% for category in Categories %}
              <li 
              {% if ctg_id == category.id %}
                class="current"
              {% endif %}
                ><a href="{% url 'CategoryFilter' category.id %}">{{category.title}}</a></li>
            {% endfor %}
          </ul>
        </aside>
        <!-- <aside class="widget widget_filter widget_sidebar">
          <h3 class="widget-title">Filter Price</h3>
          <div class="ps-slider" data-default-min="0" data-default-max="500" data-max="1000" data-step="100" data-unit="$"></div>
          <p class="ps-slider__meta">Price:<span class="ps-slider__value ps-slider__min"></span>-<span class="ps-slider__value ps-slider__max"></span></p><a class="ac-slider__filter ps-btn ps-btn--sm" href="#">Search</a>
        </aside> -->
        <!-- <aside class="widget widget_sidebar widget_category">
          <h3 class="widget-title">FURNITURE BRAND</h3>
          <ul class="ps-list--checked">
            <li class="current"><a href="product-listing.html">Nike(521)</a></li>
            <li><a href="product-listing.html">Adidas(76)</a></li>
            <li><a href="product-listing.html">Gucci(21)</a></li>
            <li><a href="product-listing.html">Dior(105)</a></li>
            <li><a href="product-listing.html">B&G(108)</a></li>
            <li><a href="product-listing.html">Louis Vuiton(47)</a></li>
          </ul>
        </aside> -->
        <!-- <aside class="widget widget_sidebar widget_ads">
          <h3 class="widget-title">Ads banner</h3><a href="#"><img src="{% static 'images/widget-ads.jpg' %}" alt=""></a>
        </aside> -->
      </aside>
    </main>
    <div class="ps-partners">
      <div class="ps-container">
        <div class="ps-slider--partners owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="50" data-owl-nav="false" data-owl-dots="false" data-owl-item="7" data-owl-item-xs="3" data-owl-item-sm="5" data-owl-item-md="6" data-owl-item-lg="7" data-owl-duration="1000" data-owl-mousedrag="on"><img src="{% static 'images/partner/1.png' %}" alt=""><img src="{% static 'images/partner/2.png' %}" alt=""><img src="{% static 'images/partner/3.png' %}" alt=""><img src="{% static 'images/partner/4.png' %}" alt=""><img src="{% static 'images/partner/5.png' %}" alt=""><img src="{% static 'images/partner/6.png' %}" alt=""><img src="{% static 'images/partner/7.png' %}" alt=""></div>
      </div>
    </div>
    <div class="ps-modal" id="modal-confirm">
      <div class="ps-modal__content"><a class="ps-modal__close" href="#"><i class="fa fa-remove"></i></a>
        <div class="ps-block--confirm">
          <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                  <div class="ps-slider--center ps-slider--inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
                    <div class="item"><img src="{% static 'images/product/detail/large-1.jpg' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/product/detail/large-2.jpg' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/product/detail/large-3.jpg' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/product/detail/large-4.jpg' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/product/detail/large-5.jpg' %}" alt=""></div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                  <div class="ps-block__content">
                    <div class="ps-block__icon"><i class="fa fa-check-circle"></i></div>
                    <h3>Sofa Collection Summer</h3>
                    <p>has just been added to your cart</p>
                    <div class="ps-block__quantity">
                      <h4>CHOOSE SIZE & QUANTITY</h4>
                      <select class="ps-select selectpicker" title="Select Size">
                        <option value="0">1</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                        <option value="4">5</option>
                        <option value="5">6</option>
                      </select>
                      <div class="form-group ps-number">
                        <input class="form-control" type="text" value="1"><span class="up"></span><span class="down"></span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <h5 class="ps-block__price">Price <span> £115</span></h5>
                    <div class="ps-block__btns"><a class="ps-btn" href="#">Continue Shopping</a><a class="ps-btn ps-btn--blue" href="checkout.html">Go to checkout</a></div>
                    <div class="ps-block__checkout"><img src="{% static 'images/payment.png' %}" alt=""></div>
                  </div>
                </div>
          </div>
          <div class="ps-block__footer">
            <p><img src="{% static 'images/market.svg' %}" alt=""> There are <strong>5</strong> item in your cart</p>
            <h5>£715</h5>
          </div>
        </div>
      </div>
    </div>
   {% endblock %}